<p><img src="https://gitlab.com/artqmo/artqmo.gitlab.io/badges/main/pipeline.svg" alt="Status Build Pipeline"></p>
<h1>Blog</h1>
<p>A small blog as training for programming and editing skills with Neovim.<br>
Forked from <a href="https://github.com/arpitbatra123/eleventy-blog-mnml">Arpit Batra</a>.</p>
<h2>Getting Started</h2>
<h3>1. Clone this Repository</h3>
<pre class="language-shell"><code class="language-shell">git@gitlab.com:artqmo/artqmo.gitlab.io.git</code></pre>
<h3>2. Navigate to the directory</h3>
<pre class="language-shell"><code class="language-shell"><span class="token builtin class-name">cd</span> your-blog-name</code></pre>
<h3>3. Remove and add your remote origin</h3>
<p>Copy everything from the folder <code>artqmo.gitlab.io</code> except the <code>.git</code> directory<br>
into your own directory <code>your-blog-name</code>.</p>
<h3>4. Install dependencies</h3>
<pre class="language-shell"><code class="language-shell"><span class="token function">npm</span> <span class="token function">install</span></code></pre>
<h3>5. Edit _data/metadata.json</h3>
<h3>6. Run Eleventy</h3>
<pre class="language-shell"><code class="language-shell"><span class="token function">npm</span> run serve</code></pre>
<p>To build</p>
<pre class="language-shell"><code class="language-shell"><span class="token function">npm</span> run build</code></pre>
<p>To clean the old files in /public</p>
<pre class="language-shell"><code class="language-shell"><span class="token function">npm</span> run clean</code></pre>
