<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{{ title }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../styles/blogpost.css" />
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ siteMeta.author.name }}" />
    <link rel="icon" href="../../favicon.svg" />
  </head>
  <body>
    <div class="container post-container">
      <h1>{{ title }}</h1>
      <div class="content">{{ content }}</div>
      <div class="back-link">
        <a href="/">← Back</a>
      </div>
    </div>
  </body>
</html>
